* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    max-width: 100vw;
}

body {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #27272a #f1f1f1;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: rgb(33, 33, 33);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(130, 130, 130);
    border-radius: 99px;
    border: 2px solid rgb(33, 33, 33);
}